* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: "Oxygen", sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
}
.Sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.chats {
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: calc(100vh - 17rem);
  text-align: justify;
}

.ChatBox {
  flex: 9;
}
.Chatbox {
  min-height: calc(100vh-14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
  max-width:100%;
}



.chat {
  align-items:;
  max-width: 100%;
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 20rem;
  width: 70%;
}

.inp > input {
  width: calc(100%);
  outline: none;
  padding: 1.25rem;
  color: white;
  background: transparent;
  border: none;
  font-size: 1.4rem;
}
.chatFooter {
  margin: 2rem 0;
}
.bot {
  background: rgba(28, 30, 58, 1);
  padding: 1rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.backgroundVideo{
  position: relative;
  text-align:center;
  
 
}



.back{
  position: relative;
  align-self: center;
  z-index: -1;
  max-width: 100%;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: rgb(0, 0, 0) 0px 0px 0.1px 0.1px;
}

@media(min-aspect-ratio:16/9){
  .back{
    width:100%;
    height:100%;
  }
}

/* @media(min-aspect-ratio:16/9){
  .back{
    width: auto;
    height:100%;
  }
} */

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
  text-align: center;
  font-size: 160px;
  
  font-weight: 600;

}

button{
  border-width: 0;
  border-radius: 50%;
  background: transparent;
  
}
